### Write data into the CSV format.

In [28]:
import csv
import pandas as pd

dic1 = {
    'current_Date': '21-Nov-2020', 
    'Data': {
        'person_1': {
            'name': 'Mr. Abdul Rafay', 
            'age': 22, 
            'Interests': ['football', 'cricket'], 
            'amount_deposited': 50000,
            'year': 1998}, 
        'person_2': {
            'name': 'Ms. Nancy James', 
            'age': 23, 
            'Interests': ['baseball', 'cricket'], 
            'amount_deposited': 51000, 
            'year': 1997}
    }
}

dic1.pop("current_Date")

'21-Nov-2020'

In [64]:
df = pd.DataFrame({y:z for k,v in dic1.items() for y,z in v.items()}.values())
df['Interests'] = df['Interests'].str.join(',')
df.to_csv('names.csv',index=False)
df

              name  age         Interests  amount_deposited  year
0  Mr. Abdul Rafay   22  football,cricket             50000  1998
1  Ms. Nancy James   23  baseball,cricket             51000  1997